body{
	text-align:center;
	background-color: #666;
	padding: 10px 20%;
	font-family: sans-serif;
}

p{
	color:#666;
}
header{
	background-color: #ddd;
	margin:10px 0;
	height:100px;

}

header p{
	padding:50px;
}

nav{
	background-color: #ddd;
	
}

nav p{
	padding:50px;
	margin:0;
}

.body{
	margin:20px 0;
	display:inline-block;
	width:100%;
}

section{
	width:55%;
	float:left;
	background-color:
	lightgrey;
	padding:10px;
}

article{
	background-color:#666;
	padding:10px;

}
article p{
	background-color: #ddd;
	padding:20px;
}

aside{
	width:40%;
	float:right;
	background-color:#ddd;
	height:254px;
}
aside p{
	padding:20px;
}

footer{
	background-color:#ddd;
}

footer p{
	padding:50px;
	margin:0;
}
